a, dd, dl, dt {
    text-decoration: none;
}

.layout {
    min-width: 1287px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
}

.header {
    width: 100%;
    height: 60px;
    line-height: 1;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #242323;
    transition: .3s;
}    

.home{
    background-color: #061622;
    color: #fff;
}

.home_bg1 {
    background-image: url(/images/bg_section_00.png);
    background-repeat: no-repeat;
    background-position: top;
}

.home_container {
    position: relative;
    width: 100%;
    max-width: 1287px;
    margin: 0 auto;
}

.home_page {
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center 586px;
    padding: 80px 0 586px;
    letter-spacing: -1px;
}

.home_page h1 {
    font-size: 50px;
    font-weight: 100;
    letter-spacing: -1.5px;
}

.home_page1_title_desc1 {
    font-size: 80px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    font-weight: 600;
    letter-spacing: -2.4px;
    margin-bottom: 23px;
}

.home_page1_title_desc2 {
    font-size: 50px;
    margin-bottom: 23px;
}

.home_page1_title_desc3 {
    margin-bottom: 40px;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.38;
}

.home_page1_title_desc3 p {
    margin-bottom: 8px;
    line-height: 14px;
    font-weight: 300;
}

.home_page div a:last-child {
    margin-left: 6px;
    background-color: #01203a;
}

.home_page div a {
    width: 228px;
    margin-right: 6px;
    line-height: 64px;
    display: inline-block;
    background-color: #c02f2f;
    color: #fff;
    border-radius: 32px;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -1px;
}

.marketing {
    margin: 0 auto 67px;
}
