<!-- <footer class="footer"> -->
<div class="container">
    <img src="" alt="">
    <p>
        <span>㈜ 비티씨씨코리아</span>
        <span>대표이사 이재범</span>
        <span>서울시 강남구 도산대로 331 글로본 빌딩 3, 4층</span>
    </p>
    <p>
        <span>고객센터 운영시간: (월~금)09:00~22:00</span>
        <span>E-mail:
            <a href="mailto:help@btcckorea.com">help@btcckorea.com</a></span>
        <span>대표번호: 1661-9138</span>
    </p>
    <p>
        <a href="">
            <span>회사소개</span>
            <span></span>
        </a>
        <a href="">
            <span>이용약관</span>
            <span></span>
        </a>
        <a href="">
            <span>개인정보처리방침</span>
            <span></span>
        </a>
        <a href="">
            <span>고객센터</span>
        </a>
    </p>
    <div class="cert_1">
        <img src="" alt="">
        <img src="" alt="">
    </div>
    <p class="copyright">
        © BTCCKOREA Co., Ltd. All rights reserved.
    </p>
</div>
<!-- </footer> -->
