.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #020b10;
    position: relative;
    font-family: AppleSDGothicNeo;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: hsla(0,0%,100%,.5);
}

.container {
    position: relative;
    max-width: 1287px;
    display: flex;
    padding-left: 20px;
    padding-right: 30px;
}


.footer .logo {
    position: absolute;
    opacity: .6;
    width: 190px;
    height: 22px;
}

.footer p {
    /* margin-left: 300px; */
    margin-bottom: 4px;
    text-align: left;
}

.footer p span {
    margin-right: 12px;
}

.footer .cert_1 {
    position: absolute;
    top: 0;
    right: 0;
    opacity: .4;
}

.footer .cert_1 img {
    margin-left: 30px;
}

.footer .copyright {
    margin-top: 10px;
    opacity: .6;
    font-family: AppleSDGothicNeo;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #7c8184;
}
