<!-- login 성공 후에 사용할 header -->
<nav class="container">
    <div class="navLeft">
        <a href="" class="img_wrap">
            <img src="" alt="" class="logo">
        </a>
        <a href="" class="header_nav_btn">
            <span>자산관리</span>
        </a>
        <a href="" class="header_nav_btn">
            <span>IEO</span>
        </a>
        <a href="" class="header_nav_btn">
            <span>고객센터</span>
        </a>
    </div>
    <div class="navRight">
        <a href="" class="header_btn_menu"><span>로그인</span></a>
        <a href="" class="header_btn_menu"><span>회원가입</span></a>
    </div>
</nav>
