.container {
    position: relative;
    max-width: 1287px;
    display: flex;
    padding-left: 20px;
    padding-right: 30px;
}

.header .navLeft {
    flex: 1;
}

.header_nav_btn {
    margin: 0 20px 18px;
    font-family: AppleSDGothicNeo;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #999;
    transition: .3s;
}

.header .navLeft>a {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    outline: none;
}

.header .img_wrap {
    display: inline-block;
    height: 36px;
    margin: 12px 24px;
    margin-left: 0;
    vertical-align: bottom;
}

.header .navRight {
    height: 40px;
    line-height: 40px;
    margin: 12px 0;
}

.dropdown {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: #fff;
}

.dropdown h6 {
    font-size: 14px;
    line-height: 40px;
    margin: 0;
}

.dropdown div {
    min-width: 150px;
    max-height: 0;
    transition: .3s;
    overflow: hidden;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
}

.dropdown div a {
    width: 100%;
    padding: 0 18px;
    display: inline-block;
    line-height: 45px;
    font-size: 15px;
    transition: .3s;
}

.dropdown h6:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0;
    border-color: hsla(0,0%,100%,.6) transparent transparent;
    position: absolute;
    top: 17px;
    right: -15px;
    content: "";
    z-index: 1;
}

.dropdown div a:hover {
    background-color: #909090;
    border-radius: 5px 5px 0 0;
}

.header .navRight>a {
    margin: 12px 0;
    padding: 8px 16px;
}

.header_btn_menu {
    position: relative;
    background-color: transparent;
    font-size: 14px;
    text-align: center;
    font-family: AppleSDGothicNeo;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #999;
}
