.header, .footer {
    background-color: antiquewhite;
    height: 50px;
    width: 100%;
}

.navLeft {
    background-color: aliceblue;
    height: 100px;
    width: 140px;
    float: left;
    margin-right: 20px;
}

.container {
    width: 1200px;
    height: 1000px;
    margin: auto;
}

.content {
    background-color: beige;
    max-width: 100%;
}

.container {
    margin: auto;
}
